
body {
    background-color: #111;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.movies-container {
    background-color:#111 ;
    
}
.movie {
    margin-top: 520px;
    width: 410px;
    height: 250px;
    transition: 0.1s;
    background-color: #111;
}
.type {
    position: absolute;
    top: 478px;
    color: white;
    left: 30px;
    font-weight: bolder;
    font-size: larger;
    
}
.cards{
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
}
.cards::-webkit-scrollbar {
   display: none;
}
.movie:hover{
    transform: scale(1.2);
    transition: 0.5s;
}
.movie-names {
    display: flex;
    color: white;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    font-size: 18px;
}
.small-card {
    margin-top: 10px;
    width: 180px;
    height: 100px;
    margin-left: 10px;
    transition: 0.2s;
}
.small-card:hover{
    transform: scale(1.3);
    transition: 0.5s;
}
.action-title {
    margin-top: 10px;
    color: white;
    margin-left:30px ;
}
.action-name {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
}
